<div class="main-content">

  <div class="section-content">
    <div class="container-fluid">
      <div class="row">
        <!--loop over products-->
        <div *ngFor="let tempproduct of products" class="col-md-3">
          <div class="product-box">
            <img src="{{tempproduct.imageUrl}}" class="img-responsive" />
            <h2>{{tempproduct.name}}</h2>
            <div class="price">{{tempproduct.unitPrice | currency:'USD'}}</div>
            <a href="#" class="primary-btn">Add to Cart</a>
          </div>
      </div>
    </div>
  </div>
</div>
